table.docutils td {
  white-space: normal !important;
  word-wrap: break-word;
}

/* custom.css */
.wy-menu-vertical .toctree-expand {
    display: inline !important;
    visibility: visible !important;
    opacity: 1 !important;
}
